pipeline/pl_AppendVar.json
{
	"name": "pl_AppendVar",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from information_schema.tables\nwhere table_type = 'Base Table'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_source_lookup_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "AppendVar",
								"value": {
									"value": "@item().Table_Name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "SetVar",
					"value": {
						"value": "@variables('AppendVar')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"AppendVar": {
				"type": "Array"
			},
			"SetVar": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2026-03-09T18:50:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}