pipeline/pl_Filter.json
{
	"name": "pl_Filter",
	"properties": {
		"activities": [
			{
				"name": "Lookup for sql tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from information_schema.tables\nwhere table_type = 'Base Table'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_source_lookup_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup for sql tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup for sql tables').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().Table_Name,'ipl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable Pipeline run id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelinerunid",
					"value": {
						"value": "@pipeline().TriggerId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable pipeline name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable Pipeline run id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineName",
					"value": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"pipelinerunid": {
				"type": "String"
			},
			"pipelineName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2026-03-09T18:05:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}