pipeline/pl_webActivity.json
{
	"name": "pl_webActivity",
	"properties": {
		"activities": [
			{
				"name": "Web API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummy.restapiexample.com/api/v1/employees"
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "activityOutput",
					"value": {
						"value": "@activity('Web API').output.data",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data from Web API",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['status']"
								},
								"sink": {
									"ordinal": 1
								}
							},
							{
								"source": {
									"path": "$['data'][0]['id']"
								},
								"sink": {
									"ordinal": 2
								}
							},
							{
								"source": {
									"path": "$['data'][0]['employee_name']"
								},
								"sink": {
									"ordinal": 3
								}
							},
							{
								"source": {
									"path": "$['data'][0]['employee_salary']"
								},
								"sink": {
									"ordinal": 4
								}
							},
							{
								"source": {
									"path": "$['data'][0]['employee_age']"
								},
								"sink": {
									"ordinal": 5
								}
							},
							{
								"source": {
									"path": "$['data'][0]['profile_image']"
								},
								"sink": {
									"ordinal": 6
								}
							},
							{
								"source": {
									"path": "$['message']"
								},
								"sink": {
									"ordinal": 7
								}
							}
						],
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_api_copy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_target_web_copy",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"activityOutput": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Exercise"
		},
		"annotations": [],
		"lastPublishTime": "2026-03-15T11:09:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}