pipeline/SQLData.json
{
	"name": "SQLData",
	"properties": {
		"activities": [
			{
				"name": "Old watermark value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(WatermarkValue) as oldWaterMarkValue\nfrom dbo.watermarkTable",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_watermark_p1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "New watermark value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(booking_date) as NewWaterMarkValue from [dbo].[FactBookings]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_watermark_p1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check New Records",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Old watermark value",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "New watermark value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('New watermark value').output.firstRow.NewWaterMarkValue,activity('Old watermark value').output.firstRow.OldWaterMarkValue)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy SQL data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from dbo.FactBookings\nwhere booking_date > '@{activity('Old watermark value').output.firstRow.OldWaterMarkValue}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_watermark_p1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_target_adls_parquet_p1",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "update water mark",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy SQL data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_sqldb",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "update dbo.watermarktable set watermarkValue = '@{activity('New watermark value').output.firstRow.NewWaterMarkValue}'\nwhere tablename = 'FactBookings'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "AzureProject"
		},
		"annotations": [],
		"lastPublishTime": "2026-03-02T14:26:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}